.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .header {
    height: 60px;
    padding-bottom: 20px;
    font-size: 45px;
    border-top: 10px solid $primary-darker-color;
    line-height: 60px;
    background: $primary-color;
  }
}
