.app {
  header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 45px;
    border-top: 10px solid;
    line-height: 60px;
    background: $container-background;
    border-color: $container-border-color;
  }
}
